#closeButton {
    font-size: 1.8rem;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 3%;
    right: 3%;
    border: 1px solid rgba(113, 113, 113, 0.437);
    color: rgba(113, 113, 113, 0.437);
    /* transition: .5s; */
}

#closeButton:hover {
    color: rgb(0, 0, 0);
    border: 1px solid #000;
}

.addElementPopUp {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background: rgb(249, 249, 249);
    background: linear-gradient(180deg, rgba(249, 249, 249, 1) 17%, rgba(141, 107, 237, 0.85) 44%, rgba(86, 146, 214, 0.4307692307692308) 68%, rgba(250, 250, 250, 1) 94%);
    border: 5px solid white;
}

.formSectionNeigh, .formSectionSchool {
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.btnNeigh, .addSchollButton {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    /* transition: .5s; */
}

.btnNeigh:hover, .addSchollButton:hover {
    background-color: rgba(255, 255, 255, 0);
    color:white;
    border: 1px solid rgb(255, 255, 255);

}


/* choice school input */
.addSchollButton{
    width: 100%;
    height: 50px;
}
.changePlaceholder::-webkit-input-placeholder {
    color: #ffffff
 }


@media(max-width:1000px) {
    .addElementPopUp {
        width: 100%;
    }
}