body{
    height: 100vh;
}
.btn-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    font-size: 2.5rem;
    background-color: rgb(47, 128, 187);
    color:rgb(255, 255, 255);
    cursor: pointer;
    transition: .5s;
}

.btn-section:hover{
    background-color: rgb(168, 218, 253);
    color:rgb(21, 67, 142);
}