@import 'mainPage.css';
@import 'choiceinstitution.css';
@import 'addElementPopUp.css';

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif !important;
}

.row {
    --bs-gutter-x: 0 !important;
}

.__fontColor{
    color: rgb(43, 66, 87);
}